<html>
    <head>
        <title>L3 soir</title>
    </head>
    <body>
        {%include 'Appl/navbar.html'%}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom</th>
                    <th>Post-nom</th>
                    <th>Prénom</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for etu in e %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{etu.nom}}</td>
                    <td>{{etu.postnom}}</td>
                    <td>{{etu.pren}}</td>
                    <td>
                        <a href="/charMod/{{etu.id}}" class="btn btn-success">Modifier</a>
                        <a href="/supE/{{etu.id}}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </body>
</html>





        